[Desktop Entry]
Name=helal-wysiwyg-editor
Name[ar]=محرر هلال المرئي
GenericName=Helal Wysiwyg Editor
Name[ar]=محرر هلال المرئي
Comment=Create,Edit html files easily.
Comment[ar]=إنشاء وتعديل ملفات html بسهولة.
Exec=/usr/bin/helal-wysiwyg-editor-ar
Terminal=no
Type=Application
StartupNotify=true
Icon=/usr/share/pixmaps/helal-wysiwyg-editor.png
Categories=GNOME;GTK;Utility;TextEditor;


